extends layout

block content
  #app
   #header
    nav
     button(onclick="toggleSide()") ...
     span#chosen 
     button(onclick="stepFile(-1)") ^ Previous ^
     button(onclick="stepFile(1)") ⌄ Next &#8964;
    #options
     button(onclick="sync()") Sync
     button#statusBtn(onclick="status()") Status
     button(onclick="clearStorage()") Clear
     input(name="newFileName")
     button(onclick="addNewFile()") Add
    
   #container
      #side
      #main(contenteditable=true,spellcheck=false,oninput="input()")
   #footer
  
