extends layout

block content
  #app
   #header
    nav
     button(onclick="toggleSection('side');toggleSection('options')") ...
     span#chosen 
     button(onclick="stepFile(-1)") &lt;
     button(onclick="stepFile(1)") &gt;
    #options
     #mainOptions 
      button#syncButton(onclick="sync()") Sync
      button(onclick="clearStorage()") Clear
      button(onclick="toggleSection('newSection')") New
      button(onclick="toggleSection('searchSection')") Search
     #newSection(class="hidden")
      input(name="newFileName")
      button(onclick="addNewFile()") Create File
     #searchSection(class="hidden")
      input(name="searchField")
      button(onclick="search()") Search
   #container
      #side
      #main(contenteditable=true,spellcheck=false)
   #footer
  
