extends layout

block content
  #app
   #header
    nav
     button(onclick="toggleSide()") ...
     span#chosen 
     button(onclick="stepFile(-1)") ^ Previous ^
     button(onclick="stepFile(1)") ⌄ Next &#8964;
    #options
     button(onclick="save()") Save
     button(onclick="publish()") Publish
     button(onclick="clearStorage()") Clear

    
   #container
      #side
      #main(contenteditable=true,spellcheck=false,oninput="input()")
   #footer
  
