doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Kajet notes")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href="/manifest.json")
    //- script(src='/data')
    script(src='javascripts/plain/main.js')
  body
    block content
