extends layout

block content
  #app
    #header
    h3 Kajet 
     button(onclick="save()") Save 
     button(onclick="publish()") Publish
     span
     span#chosen 
    #container
      #side
      #main(contenteditable=true,spellcheck=false,oninput="input()",onchange="change()")
    #footer
  
