extends layout

block content
  #app
    #header
    h3 
     button(onclick="toggleSide()") Files
     span Kajet 
     button(onclick="save()") Save 
     button(onclick="publish()") Publish
     button(onclick="clearStorage()") Clear
     span
     span#chosen 
    #container
      #side
      #main(contenteditable=true,spellcheck=false,oninput="input()")
    #footer
  
