body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  border: 1px solid black;
}

#container {
  display: flex;
  flex-grow: 1;
}

#side {
  width: 200px;
  max-width: 30%;
  /* background-color: #eee;  */
  overflow-y: scroll;
  flex-shrink: 0;
  height: 100%;
  font-size: 0.8em;
  line-height: 1.5;
}

#main {
  /* background-color: beige; */
  flex-grow: 1;
  white-space: pre-wrap;
  height: 100%;
  overflow-y: scroll;
  padding: 2px;
  /* font-family: monospace; */
}

.item {
  padding-left: 1em;
  cursor: pointer;
}

.item .name {
  display: inline-block;
  width: 100%;
}

.item.dir-item>.name {
  font-weight: bolder;
}

.item.collapsed>.item {
  display: none;
}

.item .name:hover {
  background-color: #333;
  color: #eee;
}

#side>.item {
  padding-left: 0;
}

button {
  background-color: transparent;
  box-shadow: 1px 1px;
  padding: 8px;
  margin: 3px;
  border: 1px solid black;
  cursor: pointer;
}

button:disabled {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

#chosen {
  flex-grow: 1;
}

button.red {
  border-color: red;
  color: red;
}

.modified::before {
  content: 'â—';
}

#newSection {
  display: flex;
  padding: 1px;
  
}

#newSection>input {
  flex: 1;
  margin: 3px;
}

.hidden {
  display: none!Important;
}